In [ ]:
import pickle
import pandas as pd

In [ ]:
# Chemin vers le fichier
file_path = "../data/articles_embeddings.pickle"

# Charger le fichier pickle
with open(file_path, "rb") as file:
    data = pickle.load(file)

# Afficher le type de l'objet chargé
print(f"Type de l'objet chargé : {type(data)}")

Type de l'objet chargé : <class 'numpy.ndarray'>

In [5]:
# Vérifier les dimensions de l'array
print(f"Shape (dimensions) de l'array : {data.shape}")

Shape (dimensions) de l'array : (364047, 250)

In [6]:
# Vérifier le type des éléments
print(f"Type des éléments : {data.dtype}")

Type des éléments : float32

In [7]:
# Afficher un aperçu des premières lignes
print("\nAperçu des 5 premières lignes :")
print(data[:5])

Aperçu des 5 premières lignes :
[[-0.16118301 -0.95723313 -0.13794445 ... -0.231686    0.5974159
   0.40962312]
 [-0.52321565 -0.974058    0.73860806 ...  0.18282819  0.39708954
  -0.83436364]
 [-0.61961854 -0.9729604  -0.20736018 ... -0.44758022  0.8059317
  -0.28528407]
 [-0.7408434  -0.97574896  0.39169782 ... -0.5378381   0.24354108
  -0.8853287 ]
 [-0.2790515  -0.97231525  0.68537366 ... -0.42406067  0.18548405
  -0.5802922 ]]

In [8]:
# Vérifier si les valeurs sont normalisées
print("\nStatistiques :")
print(f"Min : {data.min()}, Max : {data.max()}")
print(f"Moyenne : {data.mean()}, Écart-type : {data.std()}")

Statistiques :
Min : -0.9986952543258667, Max : 0.9984167218208313
Moyenne : 0.004270813427865505, Écart-type : 0.5054007768630981

In [11]:
# Charger le fichier CSV
file_path = "../data/articles_metadata.csv"
df = pd.read_csv(file_path)

In [12]:
# Afficher un aperçu du fichier
print(f"Nombre de lignes et colonnes : {df.shape}\n")
print("Aperçu des 5 premières lignes :")
print(df.head())

Nombre de lignes et colonnes : (364047, 5)

Aperçu des 5 premières lignes :
   article_id  category_id  created_at_ts  publisher_id  words_count
0           0            0  1513144419000             0          168
1           1            1  1405341936000             0          189
2           2            1  1408667706000             0          250
3           3            1  1408468313000             0          230
4           4            1  1407071171000             0          162

In [14]:
# Vérifier s'il y a des valeurs manquantes
print("\nValeurs manquantes par colonne :")
print(df.isnull().sum())

Valeurs manquantes par colonne :
article_id       0
category_id      0
created_at_ts    0
publisher_id     0
words_count      0
dtype: int64

In [16]:
# Charger le fichier
file_path = "../data/clicks_sample.csv"
df = pd.read_csv(file_path)

In [17]:
# Afficher un aperçu
print(f"Nombre de lignes et colonnes : {df.shape}\n")
print("Aperçu des 5 premières lignes :")
print(df.head())

Nombre de lignes et colonnes : (1883, 12)

Aperçu des 5 premières lignes :
   user_id        session_id  session_start  session_size  click_article_id  \
0        0  1506825423271737  1506825423000             2            157541
1        0  1506825423271737  1506825423000             2             68866
2        1  1506825426267738  1506825426000             2            235840
3        1  1506825426267738  1506825426000             2             96663
4        2  1506825435299739  1506825435000             2            119592

   click_timestamp  click_environment  click_deviceGroup  click_os  \
0    1506826828020                  4                  3        20
1    1506826858020                  4                  3        20
2    1506827017951                  4                  1        17
3    1506827047951                  4                  1        17
4    1506827090575                  4                  1        17

   click_country  click_region  click_referrer_type
0              1            20                    2
1              1            20                    2
2              1            16                    2
3              1            16                    2
4              1            24                    2

In [18]:
# Vérifier les noms des colonnes
print("\nNoms des colonnes :")
print(df.columns)

Noms des colonnes :
Index(['user_id', 'session_id', 'session_start', 'session_size',
       'click_article_id', 'click_timestamp', 'click_environment',
       'click_deviceGroup', 'click_os', 'click_country', 'click_region',
       'click_referrer_type'],
      dtype='object')

In [19]:
# Vérifier s'il y a des valeurs manquantes
print("\nValeurs manquantes par colonne :")
print(df.isnull().sum())

Valeurs manquantes par colonne :
user_id                0
session_id             0
session_start          0
session_size           0
click_article_id       0
click_timestamp        0
click_environment      0
click_deviceGroup      0
click_os               0
click_country          0
click_region           0
click_referrer_type    0
dtype: int64

In [20]:
# Vérifier les types de données
print("\nTypes de données :")
print(df.dtypes)

Types de données :
user_id                int64
session_id             int64
session_start          int64
session_size           int64
click_article_id       int64
click_timestamp        int64
click_environment      int64
click_deviceGroup      int64
click_os               int64
click_country          int64
click_region           int64
click_referrer_type    int64
dtype: object